<form action="/register" method="POST">
  <label for="email">Email: </label>
  <input type="email" name="email">
  <label for="pw">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="OK">
</form>
